{% extends "base.html" %}

{% block search %}
	<form action="{% url main %}" method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" value="{{ search.name }}"/><br/>
		<label for="desc">Description</label>
		<input type="text" name="desc" id="desc" value="{{ search.desc }}"/><br/>
		<label for="cat">Category</label>
		<input type="text" name="cat" id="cat" value="{{ search.cat }}"/><br/>
		<label for="owner">Owner</label>
		<input type="text" name="owner" id="owner" value="{{ search.owner }}"/><br/>
		<input type="submit" value="Search Businesses"/>
	</form>
{% endblock %}

{% block content %}
	{% if search %}
	<h3> Businesses matching "{{search}}" </h3>
	{% endif %}
	{% regroup biz_list by alpha as group_list %}
	{% for group in group_list %}
	<h2>{{group.grouper}}</h2>
		{% for biz in group.list %}
		  <a href="{% url biz biz_name=biz.name_url %}">{{ biz.name }}</a>	
		<ul> <lh>Categories	</lh>
		{% for cat in biz.category_set.all %}
			<li>{{cat}}</li>
		{% endfor %}
		</ul>
		{% endfor %}
	{% endfor %}
{% endblock %}

{% block pagination %}
	{% if search %}
		{% if prev_page %}
			<a href="{% url search-page search=search page=1 %}">First Page</a> |
			<a href="{% url search-page search=search page=prev_page %}">Previous Page</a>
		{% endif %}
		{% if prev_page and next_page %} | {% endif %} 
		{% if next_page %}
			<a href="{% url search-page search=search page=next_page %}">Next Page</a> |
			<a href="{% url search-page search=search page=num_pages %}">Last Page</a>
		{% endif %}		
	{% else %}
		{% if prev_page %}
			<a href="{% url page page=1 %}">First Page</a> |
			<a href="{% url page page=prev_page %}">Previous Page</a>
		{% endif %}
		{% if prev_page and next_page %} | {% endif %} 
		{% if next_page %}
			<a href="{% url page page=next_page %}">Next Page</a> |
			<a href="{% url page page=num_pages %}">Last Page</a>
		{% endif %}
	{% endif %}
{% endblock %}