{% extends "base.html" %}
{% block title %}{{ biz.name }}{% endblock %}
{% block purchaseinfo %} {% endblock %}

{% block header %}
	{{ block.super }}
{% endblock %}

{% block extra_head %}
    <link rel="StyleSheet" href="/static/css/admin_hack.css" type="text/css">
    {{ biz_form.media.render }}
{% endblock %}

{% block content %}
<form id="register" action="{% url register %}" method="POST">
    
	<h4 style="float:left;clear:both;">Owners:</h4>
	{{ biz_form.formsets.owners.as_ul }}
	
	<h4 style="float:left;clear:both;">Business Info:</h4>
	<ul>{{ biz_form.as_ul }}</ul>
	
	<h4 style="float:left;clear:both;">Addresses:</h4>
	{{ biz_form.formsets.addresses.as_ul }}
	
	<h4 style="float:left;clear:both;">Phone Numbers:</h4>
	{{ biz_form.formsets.phone_numbers.as_ul }}
	
	<input type="submit" value="Register"/>
</form>
{% endblock %}