{% extends "base.html" %}
{% block title %}{{ biz.name }}{% endblock %}
{% block purchaseinfo %} {% endblock %}

{% block header %}
	{{ block.super }}
{% endblock %}

{% block content %}
<form id="register" action="{% url register %}" method="POST">
    
    <h4 style="float:left;clear:both;">Owners:</h4>
    {{ biz_form.owners.management_form }}
    {% for owner_form in biz_form.owners.forms %}
    <ul>{{owner_form.as_ul}}</ul>
    {% endfor %}
	
	<ul>{{biz_form.as_ul}}</ul>
	
	<h4 style="float:left;clear:both;">Address:</h4>
	{{ biz_form.addresses.management_form }}
	{% for addy_form in biz_form.addresses.forms %}
	<ul>{{addy_form.as_ul}}</ul>
	{% endfor %}
	
	<h4 style="float:left;clear:both;">Phone Number:</h4>
	{{ biz_form.phone_numbers.management_form }}
	{% for phone_form in biz_form.phone_numbers.forms %}
	<ul>{{phone_form.as_ul}}</ul>
	{% endfor %}
	
	<input type="submit" value="Register"/>
</form>
{% endblock %}