{% extends "directory/base.html" %}

{% block content %}
	<div id="purchase">
		<img src="/static/img/bizdirpic.jpg" style="float:left"/>
		<p>
		Search businesses by category online, or purchase the print version for $19.95 by calling 
		ONABEN at 503-968-1500, or toll free at (800)854-8289.  You can also download the order form 
		here and fax it to 503-968-1548.
		</p> 
		<p>
		For business information such as owner name(s), tribal affiliation(s), and other contact 
		information, please purchase our print version.
		</p>
	</div>
{% endblock %}

{% block pagination %}
{% endblock %}